extends layout.pug

block content

  nav.nav
    a(href='/')
      span &larr;
      |  Back

  article.portfolio-projects
    .inner-wrapper.flex-row-wrap.two-col
      .project-info-box.box


        h1 #{project_name}

        p #{description}

      .project-tech-links-box.box
        h6 Technologies
        ul
          each val in technologies 
            li= val

        a.btn-link(href=`${live_link}`) Live Demo
        a.btn-link(href=`${github_link}`) GitHub Repo

    .project-img-box.box

      //- Replace the URLs in the src attributes below with interpolated template literals to dynamically add your project images, and add descriptions to the alt attributes
      img.project-img(src=`/static/images/${landing}`, alt=`Screenshot of ${project_name}`)
      img.project-img(src=`/static/images/${project_page}`, alt=`Screenshot of ${project_name}`)

    nav.nav
      a(href='/')
        span &larr;
        |  Back
